.navbar {
    background-color: #0ABABA;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-radius: 35px;
    position: fixed;
    top: 20px;
    left: 180px;
    width: 88%;
    z-index: 3;
    height: 65px;
    overflow-y: hidden;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    
}

.expanded {
    width: 83%;
    left: 275px;
}

.show {
    transform: translateY(0);
  }
  
  .hide {
    transform: translateY(100%);
  }

.navbarList {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.navbarItem {
    display: flex;
    align-items: center;
    text-align: flex-end;
    justify-content: center;
    color: #000000;
    margin-top: 5px;
    border-radius: 30px;
    height: 40px;
    background-color: #E4E4E4;
    width: 40px;
    cursor: pointer;
    
}

.navbarItem1  {
    height: 60px;
    margin-right: 40px;
    cursor: pointer;
}
.navbarItem1 {
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: #000000;
    gap: 10px;
}

.letter {
    line-height: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: right;
    gap: 10px;
    margin-top: 12px;
}

.letter h3 {
    font-size: 18px;
    line-height: 5px;
    margin: 0;
}

.letter p {
    font-size: 10px;
    margin: 0;
}