.section {
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #Dff;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: -10%;
    z-index: 0;
    width: 40%;
    height: 60%;
    background-image: url('/ballback.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.imageContainer {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 5px;
    width: 40%; 
    height: 100%;
    background-image: url('/group46.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logincontainer {
    width: 50%;
    height: 70%;
    top: 20%;
    left: 25%;
    border-radius: 30px;
    background: rgba(214, 208, 208, 0.06);
    box-shadow: 
        0px 4px 21.8px 0px rgba(0, 0, 0, 0.25), 
        54.133px -54.133px 54.133px 0px rgba(165, 165, 165, 0.17) inset, 
        -54.133px 54.133px 54.133px 0px rgba(255, 255, 255, 0.17) inset;
    backdrop-filter: blur(54.13333511352539px);
    -webkit-backdrop-filter: blur(54.13333511352539px);
    position: relative;
    display: flex;
    z-index: 1;
}

.logincontainer .chaveiro {
    width: 40%;
    height: 90%;
    padding: 10% 0 0 5%;
    display: flex;
}

.cabecaLogin {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    /* background-color: rgba(255, 255, 255, 0.20); */
    background-color: white;
    border-radius: 10px;
    margin: 15px 0 0 5%;
    height: 90%;
    width: 320px;
}

.cabecaLogin img{
    width: 70%;
    padding: 10px;
}

.cabecaLogin h1 {
    font-family: 'Roboto', sans-serif;
    font-size:  24px;
    font-weight: 700;
    color: #31ACA8;
}

.cabecaLogin label {
    margin-top: 10px;
}

.cabecaLogin button {
    margin-top: 10px;
    background-color: #0CCDCD;
    color: white;
    border: none;
    width: 110px;
    height: 35px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.cabecaLogin input {
    /*margin-left: 15px;*/
    width: 280px; 
    height: 32px; 
    padding: 8px; 
    border-radius: 4px; 
    border: 1px solid var(--Border, #CED4DA);
    font-size:  16px;
    background: var(--cor-vetor, #FFF);
}

.errorMessage {
    font-family: 'Roboto', sans-serif;
    font-size:  12px;
    padding-bottom: -30px;
    font-weight: 700;
    color: red;
}